{% extends "base.html" %}
{% block content %}
<div>
  {{ macros.m_button_group([['custom_load_btn', '저장 목록 읽기'], ['custom_auto_btn', '자동 설정'], ['custom_reset_btn', '모두 해제'], ['custom_save_btn', '저장']]) }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_row_end() }}

  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  
  {{ macros.m_col(2,  macros.m_strong('Title')) }}


  {{ macros.m_col(2,  macros.m_strong('웨이브') + macros.m_button_group([['btn_set_quality_wavve_default', 'default'], ['btn_set_quality_wavve_fhd', 'FHD'], ['btn_set_quality_wavve_hd', 'HD'], ['btn_set_quality_wavve_sd', 'SD']])) }}

  {{ macros.m_col(2,  macros.m_strong('티빙') + macros.m_button_group([['btn_set_quality_tving_default', 'default'], ['btn_set_quality_tving_fhd', 'FHD'], ['btn_set_quality_tving_hd', 'HD'], ['btn_set_quality_tving_sd', 'SD']])) }}

  {{ macros.m_col(2,  macros.m_strong('비디오포털') + macros.m_button_group([['btn_set_quality_videoportal_default', 'default'], ['btn_set_quality_videoportal_fhd', 'FHD'], ['btn_set_quality_videoportal_hd', 'HD'], ['btn_set_quality_videoportal_sd', 'SD']])) }}

  {{ macros.m_col(2,  macros.m_strong('현대HCN') + macros.m_button_group([['btn_set_quality_everyon_default', 'default'], ['btn_set_quality_everyon_fhd', 'FHD'], ['btn_set_quality_everyon_hd', 'HD'], ['btn_set_quality_everyon_sd', 'SD']])) }}

  {{ macros.m_col(2,  macros.m_strong('유저') + macros.m_button_group([['btn_set_quality_user_source_default', 'default'], ['btn_set_quality_user_source_fhd', 'FHD'], ['btn_set_quality_user_source_hd', 'HD'], ['btn_set_quality_user_source_sd', 'SD']])) }}


  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <form id="custom_form" name="custom_form">
  <div id="list_div"></div>
  </form>
</div>

<script type="text/javascript">
var package_name = "{{arg['package_name']}}";
var current_data = null;
var ddns = "{{arg['ddns']}}"
var apikey = "{{arg['auth_apikey']}}"
var auth_use_apikey = ("{{arg['auth_use_apikey']}}" == 'True')

var broadcast_types = ['wavve', 'tving', 'videoportal', 'everyon', 'user_source']
var quality_types = ['default', 'FHD', 'HD', 'SD'];

$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/custom',
    type: "POST", 
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      current_data = data;
      make_list(data, 'saved')
    }
  });


});

/**
 *  btn 
 * ex) btn_set_quality_wavve_default
 * => btn_set_quality_{broadcast_type}_{quality_type}
 */
for(i = 0, cnt = broadcast_types.length; i < cntl; i++){
  broadcast_type = broadcast_types[i];

  for(n = 0, ncnt = quality_types.length; n < ncnt; n++){
    quality_type = quality_types[n];

    ele_id = '#btn_set_quality_' + broadcast_type + '_' + quality_type;
    $("body").on('click', ele_id, function(e){
  e.preventDefault();
      allcheck_quality(broadcast_type, quality_type);
    });
  }
}


function allcheck_quality(broadcast_type, quality_type){
  console.log(broadcast_type, quality_type);
}



$("body").on('click', '#custom_save_btn', function(e){
  e.preventDefault();
  var formData = get_formdata('#custom_form');
  $.ajax({
    url: '/' + package_name + '/ajax/custom_save',
    type: "POST", 
    cache: false,
    data:formData,
    dataType: "json",
    success: function (data) {
      if (data.ret == 'success') {
        $.notify('<strong>'+data.data+'개 채널을 저장하였습니다.</strong>', {
          type: 'success'
        });
        $.ajax({
          url: '/' + package_name + '/ajax/custom',
          type: "POST", 
          cache: false,
          data: {},
          dataType: "json",
          success: function (data) {
            current_data = data;
            make_list(data, 'saved')
          }
        });
      } else {
        $.notify('<strong>실패</strong><br>'+data.data, {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#custom_reset_btn', function(e){
  e.preventDefault();
  make_list(current_data, 'reset')
});

$("body").on('click', '#custom_auto_btn', function(e){
  e.preventDefault();
  make_list(current_data, 'auto')
});

$("body").on('click', '#custom_load_btn', function(e){
  e.preventDefault();
  make_list(current_data, 'saved')
});

function make_list(ret, how) {
  //console.log(ret)
  str = '';
  data = ret.list
  var site_use = [(ret.setting.use_wavve=='True'), (ret.setting.use_tving=='True'), (ret.setting.use_videoportal=='True'), (ret.setting.use_everyon=='True')];

  for (i in data) {
    //str += m_row_start_hover(0);
    str += m_row_start_hover();
    tmp = '' + (parseInt(i)+1) + ' ' + data[i].name
    //str += m_col(1, parseInt(i)+1);
    //tmp = '<br><img src="' + data[i].icon + '" height="30px">'
    //tmp = data[i].name
    str += m_col(2, tmp);
    


    /**
      *  그냥 할랬는데 너무 헷갈려서 그냥 새로 함
      */
    var site = [
      ['wavve', data[i].wavve_name, data[i].wavve_id, data[i].wavve_number, data[i].wavve_qualitys],
      ['tving', data[i].tving_name, data[i].tving_id, data[i].tving_number, data[i].tving_qualitys],
      ['videoportal', data[i].videoportal_name, data[i].videoportal_id, data[i].videoportal_number, data[i].videoportal_quantitiys],
      ['everyon', data[i].everyon_name, data[i].everyon_id, data[i].everyon_number, data[i].everyon_qualitys],
      ['user_source', data[i].user_source_name, data[i].user_source_id, data[i].user_source_number, data[i].user_source_qualitys],
    ]


    
    for (j in site) {
      is_user_source = j == 4 ? true : false;

      _channel_id = site[j][2];
      _channel_name = site[j][1];
      _channel_number = site[j][3];
      _qualitys = site[j][4];

      
      if ((_channel_name != null && site_use[j]) || (is_user_source && data[i].user_source != null)) {
        broadcast_type = is_user_source ? data[i].user_source : site[j][0];
        
        _id = data[i].id;
        _title = data[i].name;
        _category = data[i].category;



        // ele_name 구조
        // channel_number는 여기서 처리하지 않음
        //
        // _id + '|' + _title +'|' + _category + '|' + broadcast_type +'|' + _channel_id + '|' + _channel_name + '|' + _quality
        base_ele_name = _id + '|' + _title +'|' + _category + '|' + broadcast_type +'|' + _channel_id + '|' + _channel_name;



        /**
         *  quality
         */
        quality_ele_html = '';
        for(quality_idx = 0, quality_cnt = quality_types.length; quality_idx < quality_cnt; quality_idx++){
          _quality_name = quality_types[quality_idx];

          _exists_quality = (_qualitys && _qualitys.indexOf(quality_types[quality_idx])) > -1 ? 'checked': '';
          quality_ele_name = base_ele_name + '|' + quality_types[quality_idx];
          

          quality_ele_html += '<label class="checkbox-inline"><input type="checkbox" name="'+quality_ele_name+'" ' + _exists_quality + '>'+_channel_name+ '[' + _quality_name + ']</label><br>';
        }



        /**
         * 원래 소스는 0으로 채널번호를 초기화 하는데 여기서 채널 번호를 초기화 하지 않음
         */
        /**
         *  channel
         */
        /* 
        ele_name = base_ele_name + '|' + _channel_number;

        
        if (how == 'auto') {
          ele_name = base_ele_name + '|0';  

          if (broadcast_type == data[i].auto || j == 4) {
            tmp = '<label class="checkbox-inline"><input type="checkbox" name="'+ele_name+'" checked>'+_channel_name+'</label><br>'
          } else {
            tmp = '<label class="checkbox-inline"><input type="checkbox" name="'+ele_name +'">'+_channel_name+'</label><br>'
          }

        } else if (how == 'saved') {
          
          if (_channel_number != null) {
            tmp = '<label class="checkbox-inline"><input type="checkbox" name="'+ele_name+'" checked>'+_channel_name+'(' + _channel_number +')'+'</label><br>'
          } else {
            tmp = '<label class="checkbox-inline"><input type="checkbox" name="'+ele_name +'">'+_channel_name+'</label><br>'
          }
        } else {
          tmp = '<label class="checkbox-inline"><input type="checkbox" name="'+ele_name +'">'+_channel_name+'</label><br>'
        }
        */

        /**
         *  view link
         */
        url = ddns + "/klive/api/url.m3u8?m=url&s=" + broadcast_type + "&i=" + _channel_id
        if (auth_use_apikey) url = url + '&apikey=' + apikey
        viewLinkEle = m_button('global_link_btn', 'Open', [{'key':'url', 'value':url}]);
        viewLinkEle = m_button_group(viewLinkEle)
        
        str += m_col(2, quality_ele_html + viewLinkEle);
      } else {
        str += m_col(2, '');
      }
    }
    str += m_row_end();
    if (i != data.length -1) str += m_hr(0);
  }
  document.getElementById("list_div").innerHTML = str;
}


</script>    
{% endblock %}